@font-face {
  src: url(fonts/MonumentExtended-Ultrabold.otf) format("opentype");
  font-family: sequel;
}
@font-face {
  src: url(fonts/Circular-Std-Book.ttf) format("truetype");
  font-family: sans;
}
 
body{
	background-color: #2D2D29;
	height: 100vh;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	overflow-x: hidden;
	animation-name: scroll;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content{
	height: auto;
}

.main {
	display: flex;
	flex-direction: column;
	background-color:#1F1C1E;
	align-items: center;
    justify-content: center;
	border-radius: 70px;
	margin-top: 14.7rem;
	height: 31.25rem;
	width: 31.25rem;
}

.main img {
	width: 190px;
	height: 190px;
	border-radius: 70px;
	padding-bottom: 11px;
	object-fit: cover;
}

.main h1 {
	font-family: sequel;
	font-size: 2.5em;
	-webkit-text-stroke: #F8F0E3;
    -webkit-text-stroke-width: 0.5px;
    color: transparent;
    letter-spacing: 1.5px;
	padding: 0.675em 0.5em;
    background-image: linear-gradient(
    -225deg,
    #1F1C1E 0%,
    #1F1C1E 20%,
    #F8F0E3 50%,
	#1F1C1E 80%,
	#1F1C1E 100%);
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  animation: textclip 3s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.main h2 {
	font-family: sans;
	color: #F8F0E3;
	font-size: 1.5em;
	margin-bottom: 5px;
}
.main h3 {
	font-family: sans;
	color: #F8F0E3;
	font-size: 1em;
	margin-top: 0;
}

.nav ul{
	margin: 0;
	padding: 0;
}

.nav ul li{
	display: inline-block;
	line-height: 5em;
	padding: 0.675em 0.5em;
}

.nav ul li a{
	display: block;
	position: relative;
	text-align: center;
	color: #F8F0E3;
	font-size: 3em;
	transition: color .2s ease-in;
}

.nav ul li a:hover{
	color: #F85240;
}

.title{
	margin-top: 14.7rem;
	font-family: sequel;
	font-size: 2.5em;
	color: #F8F0E3;
}

.technologies {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	background-color:#1F1C1E;
	align-items: center;
	text-align: center;
    justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 10px;
	border-radius: 70px;
	z-index: -1;
	padding: 1em;
	height: 40rem;
	width: 90rem;
}

.technologies h3 {
	text-align: center;
	font-family: sans;
	color: #F8F0E3;
	font-size: 2em;
	padding-top: 1em;
}


.technologytile {
	background-color:#000000;
	display: flex;
	flex-direction: row;
	gap: 1.75em;
	border-radius: 30px;
	padding: 0.75em;
	height: 7.5rem;
	width: 17.5rem;
}

#icon{
	text-align: center;
	font-family: sans;
	color: #F8F0E3;
	font-size: 5em;
	padding-top: 0.1em;
}

#customicon{
	text-align: center;
	font-family: sans;
	color: #F8F0E3;
	width: 80px;
	height: 80px;
	padding-top: 0.1em;
}

#python{
	background: linear-gradient(-45deg, #fdfe41, #6fd790, #00b4c1, #3584c7);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

#java{
	background: linear-gradient(-45deg, #f8981d, #f67816, #f3541b, #ec2025, #ec2025);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

#cpp{
	background: linear-gradient(-45deg, #97daff, #64a6d6, #3574ac, #004482, #004482);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

#go{
	background: linear-gradient(-45deg, #24aadd, #00abcc, #00aab6, #18a89e, #18a89e);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

#html{
	background: linear-gradient(-45deg, #f3672e, #ef602c, #eb592a, #e75128, #e75128);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

#css{
	background: linear-gradient(-45deg, #30aadf, #1e98d3, #1086c7, #0c74b9, #0c74b9);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

#javascript{
	background: linear-gradient(-45deg, #f3be24, #efb425, #ebab26, #e7a228, #e7a228);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

#php{
	background: linear-gradient(-45deg, #abb3d4, #878fbc, #656da4, #444c8c, #444c8c);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

#sql{
	background: linear-gradient(-45deg, #c1e2ee, #88b6cb, #508bab, #00618b, #00618b);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

#jira{
	background: linear-gradient(-45deg, #2691ff, #177ef0, #096ae0, #0457cf, #0457cf);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

#git{
	background: linear-gradient(-45deg, #fca326, #fb8926, #f76e2b, #f05133, #f05133);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

#kubernetes{
	background: linear-gradient(-45deg, #94b4f4, #759cf0, #5584eb, #326ce5, #326ce5);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

#docker{
	background: linear-gradient(-45deg, #00b3dc, #00a2cb, #0092b9, #0082a8, #0082a8);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

#prometheus{
	background: linear-gradient(-45deg, #df6c4e, #e77729, #e76629, #e6522c, #e6522c);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

#nessus{
	background: linear-gradient(-45deg, #cce4e8, #96c3cc, #5ea2b3, #00829b, #00829b);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

#metasploit{
	background: linear-gradient(-45deg, #0d78b9, #1b72ac, #246c9f, #2a6692, #2a6692);
	background-size: 400% 400%;
	animation: backgroundclip 15s ease infinite;
}

@keyframes backgroundclip {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

.projects {
	margin-top: 1rem;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: row;
	max-width: 90rem;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 10px;
}

.item {
    position: relative;
    height: 20rem;
	width: 35rem;
	border-radius: 20px;
	overflow: hidden;
}

.item img{
	width:100%; 
	height:100%;
	object-fit: cover;
}


.overlay {
	border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1F1C1E;
}

.text {
    color: #F8F0E3;
	font-family: sans;
    font-size: 1.5em;
    position: absolute;
    text-align: justify;
	padding: 0.9rem;
}

.item:hover .overlay {
    opacity: 1;
}

.footer {
	font-family: sans;
	color: #F8F0E3;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

/*Code below is for elements involved with the loading animation.*/
.leftbox {
    z-index: 1;
    top: 0;
    width: 50%;
    height: 100%;
	min-height: 100vh;
    background-color: #F8F0E3;
    float:left;
    position: absolute;
    animation-name: moveleft;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
	overflow: hidden;
}
.rightbox {
	z-index: 1;
	top: 0;
	width: 50%;
	height: 100%;
	min-height: 100vh;
	background-color: #F8F0E3;
	float:right;
	position: absolute;
	animation-name: moveright;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.name{
    font-family: sequel;
	font-size: 2.5em;
	-webkit-text-stroke: #2D2D29;
    -webkit-text-stroke-width: 1px;
    color: transparent;
    letter-spacing: 1.5px;
}

#forename{
	z-index: 1;
	position: absolute;
    text-align: center;
    top: -5%;
	left: 50%;
	margin-top: -48px;
	margin-left: -209.74px;
	animation-name: movefor;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}


#surname{
	z-index: 1;
	position: absolute;
    text-align: center;
    top: 105%;
	left: 50%;
	margin-top: -48px;
	margin-left: -140.525px;
	animation-name: movesur;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}


@keyframes movefor {
    0% {top: -5%;}
	30% {color: transparent;}
	40% {top: 46%;
	left: 50%;
	-webkit-transform: rotate(0);}
	45% {color: #2D2D29;}
	50% {top: 46%;
	left: 50%;
	-webkit-transform: rotate(0);}
    60% {top: 46%;
	left: 50%;
	transform-origin: bottom center;
	-webkit-transform: rotate(-90deg);}
	100% {top: 46%;
	left: -50%;
	transform-origin: bottom center;
    -webkit-transform: rotate(-90deg);
	color: #2D2D29;}
}

@keyframes movesur {
    0% {top: 105%;}
	30% {color: transparent;}
	40% {top: 54%;
	left: 50%;
	-webkit-transform: rotate(0);}
	45% {color: #2D2D29;}
	50% {top: 54%;
	left: 50%;
	-webkit-transform: rotate(0);}
    60% {top: 54%;
	left: 50%;
	transform-origin: top center;
	-webkit-transform: rotate(-90deg);}
	100% {top: 54%;
	left: 150%;
	transform-origin: top center;
	-webkit-transform: rotate(-90deg);
	color: #2D2D29;}
}

@keyframes moveleft {
	0% {left: 0%;}
	60% {left: 0%;}
    100% {left: -50%;
	visibility: hidden;}
}

@keyframes moveright {
	0% {right: 0%;}
	60% {right: 0%;}
    100% {right: -50%;
	visibility: hidden;}
}

@media screen and (max-width: 480px){
	
	body, html{
		overflow-x: visible;
		overflow-y: visible;
	}
	
	.main{
		height: 300px;
		width: 300px;
	}
	
	.main img {
		width: 130px;
		height: 140px;
		object-fit: cover;
	}

	.main h1 {
		font-size: 1.5em;
	}
	
	.main h2 {
		font-size: 1em;
	}
	
	.main h3 {
		font-size: 0.75em;
	}
	
	.nav ul li {
		line-height: 1em;
	}
	
	.nav ul li a{
		font-size: 1.25em;
	}
	
	
	.name{
		font-size: 1.5em;
	}

	.title{
		/*margin-top: 14.7rem;*/
		font-size: 1em;
	}
	
	.technologies {
		height: 70em;
		width: 25em;
	}

	.technologies h3 {
		font-size: 1em;
	}

	.technologytile {
		height: 5rem;
		width: 10rem;
	}

	#icon{
		font-size: 3em;
	}

	#customicon{
		width: 50px;
		height: 50px;
	}
	
	.projects {
		max-width: 25rem;
	}

	.item {
		height: 20rem;
		width: 40rem;
	}
	
	.text {
		font-size: 1em;
	}
	
	.footer {
		left: 5%
	}
	
	
	#forename{
		margin-top: -57px;
		margin-left: -127.65px;
	}
	
	#surname{
		margin-top: -57px;
		margin-left: -85.515px;
	}

}
